body{
    background-color: EEEEEE;
    font-family:sans-serif;
}

header{
    display: flex;
    height: 100px;
    background-color: #D8D2CB;
    
}

div.section-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px; 
}

img.logo{
    height: 100%;
    width: 100%;
}
#logo{
    width: 50%;
}
#title{
    width: 300%;
    font-style: italic;
}
#login{
    width: 75%;
    font-size: 25px;
}

#login>a{
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #398AB9;
    color: #EEEEEE;
    border-radius: 7px;
}
